.banner{
    background-image: url('../images/hero-img.jpg');
    background-image: linear-gradient(to right, rgba(250, 241, 241, 0.5) 10%, rgba(250, 241, 241, 0.5) 60%),url("../images/hero-img.jpg");
    height: 300px;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.banner>div{
    font-size: 1.3em;
    padding: 2em 0em 0em 27.5em;
}

.banner h1,h5{
    font-weight: bold;
}

.banner button{
    padding: 10px;
    font-size: 1em;
    border-radius: 6px;
    border: none;
    outline: none;
}

.banner #btn2{
    margin-left: 2em;
}